<article *ngIf="job">
  <header><h2>{{job.name}}</h2></header>

  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="row mb-2">
          <div class="col-6">
            Job
          </div>
          <div class="col-6">
            Salary
          </div>
          <div class="col-6">
            <span>{{job.workHoursPerDay}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <header><h2>Persons</h2></header>

  <table *ngIf="persons">
    <thead>
    <tr>
      <th>Name</th>
      <th>View</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let person of persons.persons">
      <td>{{person.name}}</td>
      <td>
        <a [routerLink]="['/persons', person.id]">View</a>
      </td>
      <td>
        <a [routerLink]="['/persons', person.id, 'edit']">Edit</a>
      </td>
      <td>
        <button (click)="onDeletePerson(person)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</article>
