<article *ngIf="person">
  <header><h2>{{person.name}}</h2></header>

  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="row mb-2">
          <div class="col-6">
            Job
          </div>
          <div class="col-6">
            <span>{{person.job.id}}</span>
          </div>
          <div class="col-6">
            Salary
          </div>
          <div class="col-6">
            <span>{{person.salary}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
