<article class="text--justified">
  <header><h2>Persons</h2></header>

  <table *ngIf="persons">
    <thead>
    <tr>
      <th>Name</th>
      <th>View</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let person of persons.persons">
      <td>{{person.name}}</td>
      <td>
        <a [routerLink]="['/persons', person.id]">View</a>
      </td>
      <td>
        <a [routerLink]="['/persons', person.id, 'edit']">Edit</a>
      </td>
      <td>
        <button (click)="onDelete(person)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</article>
