<article>
  <header><h2>Add Person</h2></header>

  <form class="container" [formGroup]="addFormPerson" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="uuid">Persons UUID:</label>
          <input id="uuid" type="text" formControlName="uuid"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="name">Name:</label>
          <input id="name" type="text" formControlName="name"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="salary">Salary:</label>
          <input id="salary" type="text" formControlName="salary"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-2 p-2">
        <button type="submit">Add</button>
      </div>
    </div>
  </form>
</article>
